#windows stm32F103 keil V5 
/*/OBJ

!*.c
!*.h
!*.s
#stm32_iap
!/stm32_iap/USER/*.uvprojx
!/stm32_iap/USER/*.lst

#stm32_app
!/stm32_app/USER/*.uvprojx
!/stm32_app/USER/*.lst


#stm32_temp
!/stm32_temp/USER/*.c
!/stm32_temp/USER/*.h
!/stm32_temp/USER/*.uvprojx
!/stm32_temp/USER/*.lst






!.gitignore


